:root {
    --grid-border-color: #3882F6;
    --grid-square-color-light: #d6e1f1;
    --grid-square-color-dark: #1F2937;
    --white: #f9faf8;
    --hatching: repeating-linear-gradient(
        -55deg,
        var(--grid-square-color-light),
        var(--grid-square-color-light) 4%,
        var(--grid-border-color) 4%,
        var(--grid-border-color) 8%
    );
}

*, ::after, ::before {
    box-sizing: border-box;
    border-collapse: collapse;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
}

.header {
    color: var(--grid-border-color);
    font-size: 60px;
    font-family: 'Pacifico';
    margin-top: 0;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 600px;
    border-radius: 10%;
    border: 2px solid var(--grid-border-color);
}

.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border-radius: 10%;
}

.hatched {
    background: var(--hatching);
}